* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #f9caca;
    padding: 20px 20px;
    text-align: center;
    font-weight: bold;
}

header a {
    background-color: #f5243a;
    padding: 8px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 300;
    margin-left: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar-left img {
    width: 100px;
    height: 45px;

}

.navbar-right a {
    margin-left: 15px;
    font-weight: 700;
    color: #333;
}
span{
    color: red;
}
.refer{
    background-color: #D6E2FA;
    color: #7C81D2;
    border-radius: 5px;
    padding: 8px 16px;
}
.signup {
    border: 1px solid #f5243a;
    padding: 8px 16px;
    border-radius: 5px;
    color: #f5243a;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 60px 20px;
    margin-top: -20px;
    background-color: #f7f7f7;
}

.hero-left {
    max-width: 50%;
    margin-left: 100px;
}

.hero-left h1 {
    color: #8364e8;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-left p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-left .cta {
    background-color: #f5243a;
    color: #fff;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 700;
}

.hero-right iframe {
    width: 560px;
    height: 315px;
    border-radius: 10px;
    border: none;
    margin-right: 50px;
}

.impact-section {
    background-color: #3470E4;
    text-align: center;
    padding: 40px 20px;
}

.impact-section h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

.impact-section p {
    font-size: 1.2rem;
    color: white;
}